@model GoalEnvision.Web.Features.Components.Hero.HeroViewModel
@if (Model != null)
{
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                @if (Model.Image != null)
                {
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <img src="@Model.Image.Url()" class="img-fluid animated" alt="">
                    </div>
                }
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    @if (!string.IsNullOrEmpty(Model.Title))
                    {
                        <h1>@Model.Title</h1>
                    }

                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <h2>@Model.Description</h2>
                    }

                    <div class="d-flex justify-content-center">
                        @if (Model.Button != null)
                        {
                            <a href="@Model.Button.Url" class="btn-get-started scrollto">@Model.Button.Name</a>
                        }
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        @if (Model.Link != null)
                        {
                            <a href="@Model.Link.Url">@Model.Link.Name<i class="icofont-play-alt-2"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
}