
@model GoalEnvision.Web.Features.Components.Header.HeaderViewModel

<header id="header" class="fixed-top header-bg">
    <button type="button"
            class="mobile-nav-toggle d-lg-none"
            data-toggle="collapse"
            data-target="navbarContent">
        <i class="icofont-navigation-menu"></i>
    </button>
    <div class="container d-flex align-items-center">
        <a href="#" class="logo mr-auto"><img src="@Model.Logo.MediaUrl()" alt="Goal" class="img-fluid"></a>

        <nav id="navbarContent" class="nav-menu d-none d-lg-block">
            @if (Model.NavigationMenu?.Links != null)
            {
                <ul>
                    @foreach (var link in Model.NavigationMenu.Links)
                    {
                        <li class="mx-2 px-0">
                            <a class="nav-link @(Model.NavigationMenu.CurrentPageUrl == link.Url ? "bg-info border rounded" : null)" href="@link.Url">@link.Name</a>
                        </li>
                    }
                </ul>
            }
        </nav>
        @if (Model.CultureSwitcher.IsVisible)
        {
            <div class="dropdown p-2 border border-white text-white">
                <div class="dropdown-toggle"
                     type="button"
                     id="dropdownMenuButton"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false">
                    <i class="icofont-globe "></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    @foreach (var link in Model.CultureSwitcher?.Links)
                    {
                        <a class="dropdown-item" href="@link.Url">
                            @link.Name
                        </a>
                    }
                </div>
            </div>
        }
        <div>
            <a href="#about" class="get-started-btn scrollto">Get Started</a>
        </div>
    </div>
</header>
